*
  box-sizing: border-box

::-webkit-scrollbar
    width: 10px
    background-color: $white

::-webkit-scrollbar-thumb 
  background-color: $black
  border-radius: 10px
  border: 1px solid $white

body
  font-family: $road-radio
  color: $black

input, textarea, button
  font-family: $road-radio

main
  min-height: 100vh
  color: $black

a
  color: $black

  &:visited
    color: $black

    &:hover
      color: $white

  &.text:hover
    color: inherit

.d-app
  display: flex
  flex-direction: column
  min-height: 100vh

  .text-pages
    margin-top: auto
    margin-bottom: 0
    padding-bottom: 5vh

  &.light
    transition: 1s all
    color: $black

    img
      transition: none

    a
      transition: 1s all
      color: $black
    
    button
      transition: 1s all

  &.dark
    transition: 1s all
    color: $white

    img
      transition: none

    button
      transition: 1s all

    a
      transition: 1s all
      color: $white
    
  .hover-link
    padding-bottom: 1px
    border-bottom: 1px solid transparent !important
    transition: none !important

    &:hover
      border-bottom: 1px solid !important

.d-page
  margin-top: 180px
  padding: 0 60px