*
  box-sizing: border-box

body
  font-family: $road-radio
  color: $black

input, textarea, button
  font-family: $road-radio

main
  min-height: 100vh
  color: $black

a
  color: $black

  &:visited
    color: $black

    &:hover
      color: $white

  &.text:hover
    color: inherit

h1, h2, h3, h4
  color: $black
