*
  box-sizing: border-box

body
  font-family: $road-radio
  color: $black

input, textarea, button
  font-family: $road-radio

main
  min-height: 100vh
  color: $black

a
  color: $black

  &:visited
    color: $black

    &:hover
      color: $white

  &.text:hover
    color: inherit

.d-app
  min-height: 300vh

  &.light
    transition: 1s all
    color: $black

    a
      transition: 1s all
      color: $black
    
    button
      transition: 1s all

  &.dark
    transition: 1s all
    color: $white

    button
      transition: 1s all

    a
      transition: 1s all
      color: $white